{% extends "base.html" %}

{% block content %}

<div class="card">
    <h2>✏️ Edit Intern</h2>

    <input id="name" value="{{ intern.name }}">
    <input id="email" value="{{ intern.email }}">
    <input id="domain" value="{{ intern.domain }}">

    <button onclick="updateIntern()">Update</button>
</div>

<script>
function updateIntern() {

    fetch(`/intern/{{ intern.id }}`, {
        method: "PUT",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            name: document.getElementById("name").value,
            email: document.getElementById("email").value,
            domain: document.getElementById("domain").value
        })
    })
    .then(res => res.json())
    .then(data => {
        alert(data.message);
        window.location.href = "/interns";
    });

}
</script>

{% endblock %}