{% extends "base.html" %}

{% block content %}

<h2>👨‍💻 Intern Records</h2>

<div class="table-wrapper">
<table>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Domain</th>
    <th>Actions</th>
</tr>

{% for i in interns %}
<tr id="row-{{ i.id }}">
    <td>{{ i.id }}</td>
    <td>{{ i.name }}</td>
    <td>{{ i.email }}</td>
    <td>{{ i.domain }}</td>

    <td>
        <a href="/intern/{{ i.id }}"><button>View</button></a>
        <a href="/edit-intern/{{ i.id }}"><button>Edit</button></a>
        <button class="delete-btn" onclick="deleteIntern({{ i.id }})">Delete</button>
    </td>
</tr>
{% endfor %}
</table>
</div>

<script>
function deleteIntern(id) {
    fetch(`/intern/${id}`, { method: "DELETE" })
    .then(res => res.json())
    .then(data => {
        alert(data.message);
        document.getElementById("row-" + id).remove();
    });
}
</script>

{% endblock %}